<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Resto Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <a class="nav-link text-capitalize" routerLink="list"
          >List Resto</a
        >
        <a class="nav-link text-capitalize" routerLink="add"
          >Add Resto
        </a>
        <li class="nav-item"></li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="update/:id"
            >Update Resto</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="register"
            >Register Resto</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
